{% extends "layout.html"%}
{% block content %}
    <article class="media content-section">
        <div class="media-body"> 
            <h1 style="text-align: center;">Add</h1>
            <form method = "POST" action = "">
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">date</label>
                    <div class="col-sm-10">
                        {{ form.date(class = "form-control", type="date") }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">aircraft_id</label>
                    <div class="col-sm-10">
                        {{ form.aircraft_id(class = "form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">aircraft_make</label>
                    <div class="col-sm-10">
                        {{ form.aircraft_make(class = "form-control") }}
                    </div>
                </div>

                
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">aircraft_owner</label>
                    <div class="col-sm-10">
                        {{ form.aircraft_owner(class = "form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">mechanic</label>
                    <div class="col-sm-10">
                        {{ form.mechanic(class = "form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">station</label>
                    <div class="col-sm-10">
                        {{ form.station(class = "form-control") }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">description</label>
                    <div class="col-sm-10">
                        {{ form.description(class = "form-control") }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">part_supplier</label>
                    <div class="col-sm-10">
                        {{ form.part_supplier(class = "form-control") }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">part_tracking</label>
                    <div class="col-sm-10">
                        {{ form.part_tracking(class = "form-control") }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </article>
{% endblock content %}